
<div class="col-md-8"><!-- top-->




      <!-- Nav Bar-->
      <div id='cssmenu'>
      <ul>
         <li><a href='/'><span>Home</span></a></li>
         <li><a href='/about'><span>About Us</span></a></li>
         <li class='active has-sub'><a href='/camping'><span>Camping</span></a>
            <ul>
            <li><a href='/camping'><span>What We Offer</span></a></li>
            <li><a href='/campingform'><span>Request Booking</span></a></li>
            </ul>
         </li>
         <li class='active has-sub'><a href='bowhunting'><span>Bow Hunting</span></a>
            <ul>
            <li><a href='/bowhunting'><span>What We Offer</span></a></li>
            <li><a href='/bowhuntingform'><span>Request Booking</span></a></li>
            </ul>
         </li>
         <li class='last'><a href='/contact'><span>Contact Us</span></a></li>
      </ul>
      </div>
      <!-- Nav Bar end-->
                                     <br>
<div class="background2 ">
<div class="row  ">
      <div class="col-md-12">
              <img class= "imgDWR logo"  ng-src=https://image.ibb.co/hLedWG/dwr_logo_bar_2.jpg>
      </div>

</div>
</div><!-- top-->




<div class="row">

  <div class="container col-md-10 textbox ">
    <div class="background">
      <h3>About the ranch</h3>
    <p>   Deep Water Ranch was founded in 1997 by the Allen Family and has been a place where family and friends gathers to enjoy each other and the great outdoors!</p>

<br>
    <p>   It wasn’t always this beautiful but over the years, much, much hard work and visionary tenacity has brought it from the ravaged property that was strip mined and
      neglected to a restored reservoir of beauty and life. Like the song, it is a home, home on the range where the deer and the antelope play; where seldom is heard a
      discouraging word and the skies are not cloudy all day (except when rain is needed). There is a restoration of the land still going on with a vision for sustainable
      farming and ranching that respects and cares for the animals and the land. We have opened up this treasure of an experience to your family because we desire that
      more people could experience the joy of the presence of nature.
      </p>

    <p>  contact phone number.Contact: Dale Parker, Manager -Deep Water Ranch  817-915-2565</p>
    <p>  DeepWaterRanch@gmail.com</p>

  </div>
<br>

</div>
</div>







<br>
<footer class="fcontainer  border"><!-- bot-->
  <div class="col-md-3 fborder1">
    <h3><u>Deep Water Ranch</u></h3>
    <p class="footer-links">
      <a href="/">Home</a>
      ·
      <a href="/about">About Us</a>
      ·
      <a href="/camping">Camping</a>
      ·
      <a href="/bowhunting">Bow Hunting</a>
      ·
      <a href="/contact">Get Started</a>
    </p>
  </div>
  <div class="col-md-4 fborder2">
      <h3><u>Street Address</u> </h3>
          <div class="footerspacing">
              <a href="https://www.google.com/maps/place/2777+Allen+Trail,+Burleson,+TX+76028/@32.480236,-97.3204697,17z/data=!3m1!4b1!4m5!3m4!1s0x864e425d26d7ed33:0x459dcff89d5dde2e!8m2!3d32.480236!4d-97.318281">2777 Allen Trail, Burleson Texas 76028</a>
          </div>
  </div>
  <div class="col-md-3 fborder3">
    <p>
      <h3><u>About the ranch</u></h3>
      <p><small>Deep Water Ranch &copy; 2017</small></p>
    </p>
  </div>
</footer>
<!-- bot-->
