

<div class="col-md-8"><!-- top-->
  <div class="nav-row"><!-- Nav Bar-->
      <div class="navbar">
      <div id='cssmenu'>
      <ul>
         <li><a href='/'><span>Home</span></a></li>
         <li><a href='/about'><span>About Us</span></a></li>
         <li class='active has-sub'><a href='/camping'><span>Camping</span></a>
            <ul>
            <li><a href='/camping'><span>What We Offer</span></a></li>
            <li><a href='/campingform'><span>Request Booking</span></a></li>
            </ul>
         </li>
         <li class='active has-sub'><a href='bowhunting'><span>Bow Hunting</span></a>
            <ul>
            <li><a href='/bowhunting'><span>What We Offer</span></a></li>
            <li><a href='/bowhuntingform'><span>Request Booking</span></a></li>
            </ul>
         </li>
         <li class='last'><a href='/contact'><span>Contact Us</span></a></li>
      </ul>
      </div>
      </div>
  </div>    <!-- Nav Bar end-->
<div class="background2 ">
<div class="row">
      <div class="col-md-12">
              <img class= "imgDWR logo"  ng-src=https://image.ibb.co/hLedWG/dwr_logo_bar_2.jpg>
      </div>
</div>
</div>
</div><!-- top stop-->





  <div class="container col-md-10 textbox ">
    <div class="background">

      <h3>Bow hunting reservations</h3>
          <p >We would be excited to host your next bow hunt!</p>
<br>
          <p >For more information please
     contact Dale Parker(Deep water ranch Maneger)  at <u>817-915-2565</u></p>
          <p> or send an email with your group size and requested dates to <u>DeepWaterRanch@gmail.com</u></p>
  </div>
<br>

</div>








<br>
<footer class="fcontainer "><!-- footer-->
  <div class="col-md-3 fborder1"></div>
  <div class="col-md-6 fborder2"><a href="https://goo.gl/maps/HaQt7oSxP1p">2777 Allen Trail, Burleson TX</a></div>
  <div class="col-md-3 fborder3">
      <p><small>Deep Water Ranch &copy; 2017</small></p>
  </div>
</footer><!-- end of footer-->
