
<div class="col-md-8"><!-- top-->




      <!-- Nav Bar-->
      <div id='cssmenu'>
      <ul>
         <li><a href='/'><span>Home</span></a></li>
         <li><a href='/about'><span>About Us</span></a></li>
         <li class='active has-sub'><a href='/camping'><span>Camping</span></a>
            <ul>
            <li><a href='/camping'><span>What We Offer</span></a></li>
            <li><a href='/campingform'><span>Request Booking</span></a></li>
            </ul>
         </li>
         <li class='active has-sub'><a href='bowhunting'><span>Bow Hunting</span></a>
            <ul>
            <li><a href='/bowhunting'><span>What We Offer</span></a></li>
            <li><a href='/bowhuntingform'><span>Request Booking</span></a></li>
            </ul>
         </li>
         <li class='last'><a href='/contact'><span>Contact Us</span></a></li>
      </ul>
      </div>
      <!-- Nav Bar end-->
                                     <br>
<div class="background2 ">
<div class="row  ">
      <div class="col-md-12">
              <img class= "imgDWR logo"  ng-src=https://image.ibb.co/hLedWG/dwr_logo_bar_2.jpg>
      </div>

</div>
</div><!-- top-->





<div class="row">

  <div class="container col-md-10 textbox ">
    <div class="background">
      <h3>COME AND SEE!</h3>
  Travel past the concrete city and over the railroad tracks and come and experience the Presence of Nature! See the beautiful herds of wild deer and pet some of the tame animals. Great Blue Herons, Hawks, dove and wild turkeys all call Deep Water Ranch their home. Fish in the three-acre lake or one of our ponds if you like, then settle in by the fire after cooking outside and have a good night sleep in your sleeping bags and tents. The crickets are the noise you hear most of the time though you may hear a train whistle but you can still hear the crickets at the same time.
  </div>
<br>

</div>
</div>


<div class="row">

  <div class="container col-md-10 textbox ">
    <div class="background">
      <h3>Where you would stay</h3>
where would they stay? You can set up your camping equipment at one of our primitive camp site.

  </div>
<br>

</div>
</div>

<div class="row">

  <div class="container col-md-10 textbox ">
    <div class="background">
      <h3>What aminities we offer</h3>
Cleared camp site, biodegradeble dish soap and a bucket of wash water used to extinguish the fire upon exit,
fire ring and grate (if there’s no burn ban), firewood supplied upon request and for market price.

  </div>
<br>

</div>
</div>

<div class="row">

  <div class="container col-md-10 textbox ">
    <div class="background">
      <h3>What things you should bring</h3>
tent, ground cover tarp, cooler with food, drinking water, toiletries, flashlights, layers of
clothing for cooler nights, mosquito repellant, close toed shoes, earplugs if the crickets are too noisy,

  </div>
<br>

</div>
</div>

<div class="row">

  <div class="container col-md-10 textbox ">
    <div class="background">
      <h3>Safety rules</h3>
allow fires? safety rules. Fires are strictly controlled for your safety by following burn ban laws and
notices and restricting fires only to a designated fire ring and timeframes so the fires are never unattended
and are extinguished upon exit.
  </div>
<br>

</div>
</div>



<br>
<br>
<br>
<br>
<br>


<br>
<footer class="fcontainer  border"><!-- bot-->
  <div class="col-md-3 fborder1">
    <h3><u>Deep Water Ranch</u></h3>
    <p class="footer-links">
      <a href="/">Home</a>
      ·
      <a href="/about">About Us</a>
      ·
      <a href="/camping">Camping</a>
      ·
      <a href="/bowhunting">Bow Hunting</a>
      ·
      <a href="/contact">Get Started</a>
    </p>
  </div>
  <div class="col-md-4 fborder2">
      <h3><u>Street Address</u> </h3>
          <div class="footerspacing">
              <a href="https://www.google.com/maps/place/2777+Allen+Trail,+Burleson,+
              TX+76028/@32.480236,-97.3204697,17z/data=!3m1!4b1!4m5!3m4!1s0x864e425d26d7ed33:0x459dcff89d5dde2e!8m2!3d32.480236!4d-97.318281">2777 Allen Trail, Burleson Texas 76028</a>
          </div>
  </div>
  <div class="col-md-3 fborder3">
    <p>
      <h3><u>About the ranch</u></h3>
      <p><small>Deep Water Ranch &copy; 2017</small></p>
    </p>
  </div>
</footer>
<!-- bot-->
