
<div class="col-md-8"><!-- top-->




      <!-- Nav Bar-->
      <div id='cssmenu'>
      <ul>
         <li><a href='/'><span>Home</span></a></li>
         <li><a href='/about'><span>About Us</span></a></li>
         <li class='active has-sub'><a href='/camping'><span>Camping</span></a>
            <ul>
            <li><a href='/camping'><span>What We Offer</span></a></li>
            <li><a href='/campingform'><span>Request Booking</span></a></li>
            </ul>
         </li>
         <li class='active has-sub'><a href='bowhunting'><span>Bow Hunting</span></a>
            <ul>
            <li><a href='/bowhunting'><span>What We Offer</span></a></li>
            <li><a href='/bowhuntingform'><span>Request Booking</span></a></li>
            </ul>
         </li>
         <li class='last'><a href='/contact'><span>Contact Us</span></a></li>
      </ul>
      </div>
      <!-- Nav Bar end-->
                                     <br>
<div class="background2 ">
<div class="row  ">
      <div class="col-md-12">
              <img class= "imgDWR logo"  ng-src=https://image.ibb.co/hLedWG/dwr_logo_bar_2.jpg>
      </div>

</div>
</div><!-- top-->




<div class="row">

  <div class="container col-md-10 textbox ">
    <div class="background">
      <h3>Camp Site</h3>
          <p >We offer a wide array of camping options. Although we do not offer restroom facilities</p>

          <p >For more information please call (817-371-0213) </p>

  </div>
<br>

</div>
</div>







<br>
<footer class="fcontainer  border"><!-- bot-->
  <div class="col-md-3 fborder1">
    <h3><u>Deep Water Ranch</u></h3>
    <p class="footer-links">
      <a href="/">Home</a>
      ·
      <a href="/about">About Us</a>
      ·
      <a href="/camping">Camping</a>
      ·
      <a href="/bowhunting">Bow Hunting</a>
      ·
      <a href="/contact">Get Started</a>
    </p>
  </div>
  <div class="col-md-4 fborder2">
      <h3><u>Street Address</u> </h3>
          <div class="footerspacing">
              <a href="#">2777 Allen Trail, Burleson Texas 76028</a>
          </div>
  </div>
  <div class="col-md-3 fborder3">
    <p>
      <h3><u>About the company</u></h3>
      <p><small>Deep Water Ranch &copy; 2017</small></p>
    </p>
  </div>
</footer>
<!-- bot-->
